.common{
  border: 1px solid transparent;
  color: #fff;
  composes: padding-large from '../Share/layout.css';
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  composes: shadow from '../Share/layout.css';
}
.warning{
  background-color: #f0ad4e;
  composes: common;
}
.success{
  background-color: #5cb85c;
  composes: common;
}
.primary{
  background-color: #0275d8;
  composes: common;
}
.secondary{
  background-color: #fff;
  composes: common;
}
.common:hover{
  color: red;
}
