.common {
  font-size: 16px;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
.warning {
  background-color: #f0ad4e;
  composes: common;
}
.success {
  background-color: #5cb85c;
  composes: common;
}
.primary {
  background-color: #0275d8;
  composes: common;
}
.common:hover {
  color: red;
}
.num{
  padding: 10px;
}
